:root {
  --primary-text-color: #212121;
  --paragraf-text-color: #757575;
  --accent-text-color: #2196f3;
  --contact-text-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
}
.page {
  background-color: #ffffff;
  color: #212121;
}

ul {
  list-style: none;
}

/* Оформление логотипа */
.logo {
  color: var(--accent-text-color);
}
.logoheader {
  color: #000000;
}
.logofooter {
  color: #ffffff;
}

/* Офрмаление навигации */
.site-nav a {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}

/* Офромление аутентификации */
.auth-nav a {
  color: var(--primary-text-color);
}
.auth-nav .link:hover,
.link:focus {
  color: var(--accent-text-color);
}

/* Офомления секции Герой */
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: #ffffff;
}
.hero a {
  color: #ffffff;
}

/* Оформление секции "Наши преймущества" */
.advantages .paragraf {
  color: var(--paragraf-text-color);
}
/* Оформление секции Наша команда */
.ourteam {
  background-color: #f5f4fa;
}
.ourteam .position {
  color: var(--paragraf-text-color);
}

/* Оформление Футера */
.footer {
  background-color: #2f303a;
}
.footer p {
  color: #ffffff;
}
.footer .contact {
  color: rgba(255, 255, 255, 0.6);
}

/* Страница Портфолио */
/* Кнопки */
.button {
  color: var(--primary-text-color);
}
.button.simple:hover,
.simple:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
}
